/*
This document has been created with Marked.app <http://marked2app.com>
Content is property of the document author
Please leave this notice in place, along with any additional credits below.
---------------------------------------------------------------
Title: Your style title
Author: Your Name
URL: <your url>
Description: Description of theme
Fonts: (optional) [Rockwell, Rokkit, etc.]
Note: (optional) Additional notes, where to get custom fonts, etc.
---
*/
