/*
	This document has been created with Marked.app <http://markedapp.com>, Copyright 2011 Brett Terpstra
	Please leave this notice in place, along with any additional credits below.
	---------------------------------------------------------------
	Title: Highlighter
	Author: Gordon Brander http://gordonbrander.com
	Description: Minimal theme with careful typographic scale and highlighed bold.
*/
/* http://retinart.net/typography/typographicscale/ */
html {
	background: #fff;
	color: #444;
	font: 16px/1.5 "Fira Sans OT", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-top: 36px;
	margin-bottom: 18px;
}

h1 {
	font-size: 32px;
	line-height: 36px;
}

h2 {
	border-bottom: 3px solid #ddd;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 24px;
	padding-bottom: 6px;
}

h3 {
	font-size: 21px;
	line-height: 30px;
}

h4 {
	color: #777;
	font-size: 18px;
	line-height: 24px;
}

h5, h6 {
	color: #888;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
}

hr {
	background: #ddd;
	border: 0;
	height: 3px;
	margin: 36px 0;
}

a {
		color: blue;
		text-decoration: none;
}

a:hover {
		color: #3593d9;
}

.footnote {
	color: #0d6ea1;
	font-size: .8em;
	vertical-align: super;
}

img {
	max-width: 100%;
	height: auto;
}

p,
table,
blockquote,
dl,
ul,
ol {
		margin-bottom: 18px;
		margin-top: 0;
}

li ul,
li ol {
		margin-bottom: 6px;
}

b,
strong {
		background: #ffff60;
		border-radius: 4px;
		font-weight: 500;
}

caption,col,colgroup,table,tbody,td,tfoot,th,thead,tr {
		border-spacing: 0;
}

table {
		border: 1px solid rgba(0,0,0,0.25);
		border-collapse: collapse;
		display: table;
		empty-cells: hide;
		padding: 0;
		table-layout: fixed;
}

caption {
		display: table-caption;
		font-weight: 700;
}

col {
		display: table-column;
}

colgroup {
		display: table-column-group;
}

tbody {
		display: table-row-group;
}

tfoot {
		display: table-footer-group;
}

thead {
		display: table-header-group;
}

td,th {
		display: table-cell;
}

tr {
		display: table-row;
}

table th,table td {
	font-size: 1.1em;
	line-height: 23px;
	padding: 0 1em;
}

table thead {
	background: rgba(0,0,0,0.15);
	border: 1px solid rgba(0,0,0,0.15);
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

table tbody {
		background: rgba(0,0,0,0.05);
}

table tfoot {
		background: rgba(0,0,0,0.15);
		border: 1px solid rgba(0,0,0,0.15);
		border-top: 1px solid rgba(0,0,0,0.2);
}

figure {
		display: inline-block;
		position: relative;
		margin: 1em 0 2em;
}

figcaption {
		font-style: italic;
		text-align: center;
		background: white;
		color: #666;
		position: absolute;
		left: 0;
		bottom: -24px;
		width: 98%;
		padding: 1%;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
}

.poetry pre {
	display: block;
	font-family: Georgia, Garamond, serif;
	font-style: italic;
}

blockquote {
	color: #666;
	margin: 0 18px 18px;
}

sup, sub, a.footnote {
		font-size: 1.4ex;
		height: 0;
		line-height: 1;
		position: relative;
		vertical-align: super;
}

sub {
		vertical-align: sub;
		top: -1px;
}

dt,th {
		font-weight: 700;
}

table tr:nth-child(odd),table th:nth-child(odd),table td:nth-child(odd) {
		background: rgba(255,255,255,0.06);
}

table tr:nth-child(even),table td:nth-child(even) {
		background: rgba(200,200,200,0.25);
}

@media print {
		body {
				overflow: auto;
		}

		img,pre,blockquote,table,figure,p {
				page-break-inside: avoid;
		}

		#wrapper {
				background: #fff;
				color: #303030;
		}
}

@media screen {
		.inverted #wrapper,.inverted {
				background: rgba(37, 42, 42, 1);
		}

		.inverted hr {
				border-color: rgba(51, 63, 64, 1) !important;
		}

		.inverted p,.inverted td,.inverted li,.inverted h1,.inverted h2,.inverted h3,.inverted h4,.inverted h5,.inverted h6,.inverted pre,.inverted code,.inverted th,.inverted .math,.inverted caption,.inverted dd,.inverted dt {
				color: #eee !important;
		}

		.inverted table tr:nth-child(odd),.inverted table th:nth-child(odd),.inverted table td:nth-child(odd) {
				background: none;
		}

		.inverted a {
				color: rgba(172, 209, 213, 1);
		}

		#wrapper {
				padding: 20px;
		}

		::selection {
				background: rgba(157, 193, 200,.5);
		}

		h1::selection {
				background-color: rgba(45, 156, 208, .3);
		}

		h2::selection {
				background-color: rgba(90, 182, 224, .3);
		}

		h3::selection,h4::selection,h5::selection,h6::selection,li::selection,ol::selection {
				background-color: rgba(133, 201, 232, .3);
		}

		code::selection {
				background-color: rgba(0,0,0,.7);
				color: #eee;
		}

		code span::selection {
				background-color: rgba(0,0,0,.7) !important;
				color: #eee !important;
		}

		a::selection {
				background-color: rgba(255, 230, 102,.2);
		}

		.inverted a::selection {
				background-color: rgba(255, 230, 102,.6);
		}

		td::selection,th::selection,caption::selection {
				background-color: rgba(180, 237, 95, .5);
		}
}
m
