/* 
   This document has been created with Marked.app <http://markedapp.com>, Copyright 2011 Brett Terpstra
   Please leave this notice in place, along with any additional credits below.
   ---------------------------------------------------------------
   Title: Palatino Memo
   Author: Chase Nordengren, http://semicolons.net
   Description: A layout for a basic memo or other printed document, using the font Palatino Linotype.
*/

body {
    -webkit-font-smoothing: antialiased;
    font: normal 1em "Palatino Linotype",serif;
    margin: 0;
}

html>body {
    font-size: 11px;
}

li {
    font-size: 100%;
}

li li {
    font-size: 100%;
}

li p {
    font-size: 100%;
}

h1 {
    color: #000;
    font-size: 1em;
    text-align: center;
}

h2 {
    color: #111;
    font-size: 1em;
}

h3,h4,h5,h6 {
    color: #111;
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
}

p {
    text-indent: 25px;
    line-height: 22px;
}

body,p,td,div {
    color: #111;
    font-family: "Palatino Linotype", serif;
    word-wrap: break-word;
}


a {
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    color: #0d6ea1;
    text-decoration: none;
}

a:hover {
    color: #3593d9;
}

.footnote {
    color: #0d6ea1;
    font-size: .8em;
    vertical-align: super;
}

#wrapper img {
    max-width: 100%;
    height: auto;
}

dd {
    margin-bottom: 1em;
}

li > p:first-child {
    margin: 0;
}

caption,col,colgroup,table,tbody,td,tfoot,th,thead,tr {
    border-spacing: 0;
}

table {
    border: 1px solid rgba(0,0,0,0.25);
    border-collapse: collapse;
    display: table;
    empty-cells: hide;
    margin: 0px 0 23px;
    padding: 0;
    table-layout: fixed;
}

caption {
    display: table-caption;
    font-weight: 700;
}

col {
    display: table-column;
}

colgroup {
    display: table-column-group;
}

tbody {
    display: table-row-group;
}

tfoot {
    display: table-footer-group;
}

thead {
    display: table-header-group;
}

td,th {
    display: table-cell;
}

tr {
    display: table-row;
}

table th,table td {
    font-size: 1em;
    line-height: 1.5em;
    padding: 0 1em;
}

table thead {
    background: rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.15);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

table tbody {
    background: rgba(0,0,0,0.05);
}

table tfoot {
    background: rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.15);
    border-top: 1px solid rgba(0,0,0,0.2);
}

figure {
    display: inline-block;
    position: relative;
    margin: 1em 0 2em;
}

figcaption {
    font-style: italic;
    text-align: center;
    background: white;
    color: #666;
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 98%;
    padding: 1%;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

figure:hover>figcaption {
    /* background: rgba(0,0,0,1) */
}

.poetry pre {
    display: block;
    font-family: Georgia, Garamond, serif !important;
    font-size: 110% !important;
    font-style: italic;
    line-height: 1.6em;
    margin-left: 1em;
}

.poetry pre code {
    font-family: Georgia, Garamond, serif !important;
}

blockquote p {
    font-size: 1em;
    text-indent: 0px;
    line-height: 1em;
}

sup,sub,a.footnote {
    font-size: 1em;
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: super;
}

sub {
    vertical-align: sub;
    top: -1px;
}

table tr:nth-child(odd),table th:nth-child(odd),table td:nth-child(odd) {
    background: rgba(255,255,255,0.06);
}

table tr:nth-child(even),table td:nth-child(even) {
    background: rgba(200,200,200,0.25);
}

@media print {
    p {
        text-indent: 25px;
        line-height: 22px;
    }
    body {
        overflow: auto;
        font-size: 11px;
    }

    img,pre,blockquote,table,figure {
        page-break-inside: avoid;
    }

    #wrapper {
        background: #fff;
        color: #303030;
        font-size: 11px;
        position: absolute;
        left: 10px;
        top: 0px;
        text-indent: 0;
    }
}

@media screen {
    .inverted #wrapper,.inverted {
        background: rgba(37, 42, 42, 1);
    }

    .inverted hr {
        border-color: rgba(51, 63, 64, 1) !important;
    }

    .inverted p,.inverted td,.inverted li,.inverted h1,.inverted h2,.inverted h3,.inverted h4,.inverted h5,.inverted h6,.inverted pre,.inverted code,.inverted th,.inverted .math,.inverted caption,.inverted dd,.inverted dt {
        color: #eee !important;
    }

    .inverted table tr:nth-child(odd),.inverted table th:nth-child(odd),.inverted table td:nth-child(odd) {
        background: none;
    }

    .inverted a {
        color: rgba(172, 209, 213, 1);
    }

    #wrapper {
        padding: 20px;
    }

    ::selection {
        background: rgba(157, 193, 200,.5);
    }

    h1::selection {
        background-color: rgba(45, 156, 208, .3);
    }

    h2::selection {
        background-color: rgba(90, 182, 224, .3);
    }

    h3::selection,h4::selection,h5::selection,h6::selection,li::selection,ol::selection {
        background-color: rgba(133, 201, 232, .3);
    }

    code::selection {
        background-color: rgba(0,0,0,.7);
        color: #eee;
    }

    code span::selection {
        background-color: rgba(0,0,0,.7) !important;
        color: #eee !important;
    }

    a::selection {
        background-color: rgba(255, 230, 102,.2);
    }

    .inverted a::selection {
        background-color: rgba(255, 230, 102,.6);
    }

    td::selection,th::selection,caption::selection {
        background-color: rgba(180, 237, 95, .5);
    }
}
