/*
This document has been created with Marked.app <https://marked2app.com>
Content is property of the document author
Please leave this notice in place, along with any additional credits below.
---------------------------------------------------------------
Title: GitHub
Author: Brett Terpstra
Description: Github README style. Includes theme for Pygmentized code blocks.
---
*/
#wrapper {
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
  text-size-adjust: 100%;
}
#wrapper aside,
#wrapper article,
#wrapper details,
#wrapper figcaption,
#wrapper figure,
#wrapper footer,
#wrapper header,
#wrapper hgroup,
#wrapper main,
#wrapper menu,
#wrapper nav,
#wrapper section,
#wrapper summary {
  display: block;
}
#wrapper audio,
#wrapper canvas,
#wrapper progress,
#wrapper video {
  display: inline-block;
  vertical-align: baseline;
}
#wrapper audio:not([controls]) {
  display: none;
  height: 0;
}
#wrapper [hidden],
#wrapper template {
  display: none;
}
#wrapper a {
  background-color: transparent;
}
#wrapper a:active, #wrapper a:hover {
  outline: 0;
}
#wrapper abbr[title] {
  border-bottom: 1px dotted;
}
#wrapper b,
#wrapper strong {
  font-weight: bold;
}
#wrapper dfn {
  font-style: italic;
}
#wrapper mark {
  background: #ff0;
  color: #000;
}
#wrapper small {
  font-size: 80%;
}
#wrapper sub,
#wrapper sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#wrapper sup {
  top: -.5em;
}
#wrapper sub {
  bottom: -.25em;
}
#wrapper img {
  border: 0;
}
#wrapper svg:not(:root) {
  overflow: hidden;
}
#wrapper figure {
  margin: 1em 40px;
}
#wrapper hr {
  box-sizing: content-box;
  height: 0;
}
#wrapper pre {
  overflow: auto;
}
#wrapper code,
#wrapper kbd,
#wrapper pre,
#wrapper samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
#wrapper button,
#wrapper input,
#wrapper optgroup,
#wrapper select,
#wrapper textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
#wrapper button {
  overflow: visible;
}
#wrapper button,
#wrapper select {
  text-transform: none;
}
#wrapper button,
#wrapper input[type='button'],
#wrapper input[type='reset'],
#wrapper input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
#wrapper button[disabled] {
  cursor: default;
}
#wrapper button::-moz-focus-inner,
#wrapper input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#wrapper input {
  line-height: normal;
}
#wrapper input[type='checkbox'], #wrapper input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
#wrapper input[type='number']::-webkit-inner-spin-button,
#wrapper input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
#wrapper input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
#wrapper input[type='search']::-webkit-search-cancel-button,
#wrapper input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
#wrapper fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
#wrapper legend {
  border: 0;
  padding: 0;
}
#wrapper textarea {
  overflow: auto;
}
#wrapper optgroup {
  font-weight: bold;
}
#wrapper table {
  border-collapse: collapse;
  border-spacing: 0;
}
#wrapper * {
  box-sizing: border-box;
}
#wrapper input,
#wrapper select,
#wrapper textarea,
#wrapper button {
  font: 14px/21px -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
#wrapper body {
  font: 14px/21px -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #333;
  background-color: #fff;
}
#wrapper a {
  color: #4078c0;
  text-decoration: none;
}
#wrapper a:hover,
#wrapper a:active {
  text-decoration: underline;
}
#wrapper hr,
#wrapper .rule {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
  height: 0;
  margin: 15px 0;
  overflow: hidden;
}
#wrapper hr:before,
#wrapper .rule:before {
  content: '';
  display: table;
}
#wrapper hr:after,
#wrapper .rule:after {
  clear: both;
  content: '';
  display: table;
}
#wrapper h1,
#wrapper h2,
#wrapper h3,
#wrapper h4,
#wrapper h5,
#wrapper h6 {
  font-weight: 600;
  line-height: 1.1;
  margin: 24px 0 16px;
  padding: 0;
}
#wrapper h1,
#wrapper h2 {
  border-bottom: 1px solid #eaecef;
}
#wrapper h1 {
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 16px;
  padding: 0 0 9.600000381469727px;
}
#wrapper h2 {
  font-size: 24px;
  line-height: 30px;
  padding: 0 0 7.199999809265137px;
}
#wrapper h3 {
  font-size: 20px;
  line-height: 25px;
}
#wrapper h4 {
  font-size: 16px;
  line-height: 20px;
  margin: 24px 0 16px;
  padding: 0;
}
#wrapper h5 {
  font-size: 14px;
  line-height: 17px;
}
#wrapper h6 {
  font-size: 13.600000381469727px;
  line-height: 17px;
}
#wrapper small {
  font-size: 90%;
}
#wrapper blockquote {
  margin: 0;
}
#wrapper ol ol,
#wrapper ul ol {
  list-style-type: lower-roman;
}
#wrapper ul ul ol,
#wrapper ul ol ol,
#wrapper ol ul ol,
#wrapper ol ol ol {
  list-style-type: lower-alpha;
}
#wrapper dd {
  margin-left: 0;
}
#wrapper tt,
#wrapper code {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 12px;
}
#wrapper pre {
  font: 12px Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  margin-bottom: 0;
  margin-top: 0;
}

#wrapper {
  -webkit-font-smoothing: antialiased;
  background: #fff;
  border: solid 1px #dddddd !important;
  border-radius: 3px;
  color: #333;
  font: 14px -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  line-height: 1.6;
  padding: 3px;
}

p {
  margin: 1em 0;
}

a {
  color: #4183c4;
  text-decoration: none;
}

#wrapper {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.6;
  margin: 15px;
  padding: 30px;
}
#wrapper > *:first-child {
  margin-top: 0 !important;
}
#wrapper > *:last-child {
  margin-bottom: 0 !important;
}

@media screen {
  #wrapper {
    border: solid 1px #ddd;
  }
}
p, blockquote, ul, ol, dl, table, pre {
  margin-bottom: 16px;
}

hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}

ul, ol {
  padding-left: 2em;
}

ul.no-list, ol.no-list {
  padding: 0;
  list-style-type: none;
}

ul ul, ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

ol ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

li > p {
  margin-bottom: 0;
}
li p + p {
  margin-top: 16px;
}

dl {
  padding: 0;
}
dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 700;
}
dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

blockquote {
  padding: 0 15px;
  margin-left: 0;
  color: #777;
  border-left: 4px solid #ddd;
}
blockquote > :first-child {
  margin-top: 0;
}
blockquote > :last-child {
  margin-bottom: 0;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
}
table th {
  font-weight: 700;
  padding: 6px 13px;
  border: 1px solid #ddd;
}
table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

span.frame {
  display: block;
  overflow: hidden;
}
span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #ddd;
}
span.frame span img {
  display: block;
  float: left;
}
span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #333;
}
span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}
span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}
span.align-center span img {
  margin: 0 auto;
  text-align: center;
}
span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}
span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}
span.align-right span img {
  margin: 0;
  text-align: right;
}
span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}
span.float-left span {
  margin: 13px 0 0;
}
span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}
span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

code, tt {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding-bottom: .2em;
  padding-top: .2em;
  padding: 0;
}

code::before, code::after {
  content: '\00a0';
  letter-spacing: -.2em;
}

tt:before, tt:after {
  content: '\00a0';
  letter-spacing: -.2em;
}

code br, tt br {
  display: none;
}

del code {
  text-decoration: inherit;
  vertical-align: text-top;
}

pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  white-space: pre;
  background: transparent;
  border: 0;
}

.highlight {
  margin-bottom: 16px;
}
.highlight pre {
  padding: 16px;
  margin-bottom: 0;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

pre {
  padding: 16px;
  margin-bottom: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
  word-wrap: normal;
}
pre code, pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
pre code:before, pre code:after {
  content: normal;
}
pre tt:before, pre tt:after {
  content: normal;
}

.poetry pre {
  font-family: Georgia, Garamond, serif !important;
  font-style: italic;
  font-size: 110% !important;
  line-height: 1.6em;
  display: block;
  margin-left: 1em;
}
.poetry pre code {
  font-family: Georgia, Garamond, serif !important;
  word-break: break-all;
  word-break: break-word;
  /* Non standard for webkit */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  white-space: pre-wrap;
}

sup, sub, a.footnote {
  font-size: 1.4ex;
  height: 0;
  line-height: 1;
  vertical-align: super;
  position: relative;
}

sub {
  vertical-align: sub;
  top: -1px;
}

@media print {
  body {
    background: #fff;
  }

  img, table, figure {
    page-break-inside: avoid;
  }

  #wrapper {
    background: #fff;
    border: none !important;
    font-size: 12px;
  }

  pre code {
    overflow: visible;
  }
}
@media screen {
  body.inverted {
    border-color: #555;
    box-shadow: none;
    color: #eee !important;
  }

  .inverted #wrapper,
  .inverted hr,
  .inverted p,
  .inverted td,
  .inverted li,
  .inverted h1,
  .inverted h2,
  .inverted h3,
  .inverted h4,
  .inverted h5,
  .inverted h6,
  .inverted th,
  .inverted .math,
  .inverted caption,
  .inverted dd,
  .inverted dt,
  .inverted blockquote {
    border-color: #555;
    box-shadow: none;
    color: #eee !important;
  }
  .inverted td, .inverted th {
    background: #333;
  }
  .inverted pre, .inverted code, .inverted tt {
    background: #eeeeee !important;
    color: #111;
  }
  .inverted h2 {
    border-color: #555555;
  }
  .inverted hr {
    border-color: #777;
    border-width: 1px !important;
  }

  ::selection {
    background: rgba(157, 193, 200, 0.5);
  }

  h1::selection {
    background-color: rgba(45, 156, 208, 0.3);
  }

  h2::selection {
    background-color: rgba(90, 182, 224, 0.3);
  }

  h3::selection,
  h4::selection,
  h5::selection,
  h6::selection,
  li::selection,
  ol::selection {
    background-color: rgba(133, 201, 232, 0.3);
  }

  code::selection {
    background-color: rgba(0, 0, 0, 0.7);
    color: #eeeeee;
  }
  code span::selection {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: #eeeeee !important;
  }

  a::selection {
    background-color: rgba(255, 230, 102, 0.2);
  }

  .inverted a::selection {
    background-color: rgba(255, 230, 102, 0.6);
  }

  td::selection, th::selection, caption::selection {
    background-color: rgba(180, 237, 95, 0.5);
  }

  .inverted {
    background: #0b2531;
    background: #252a2a;
  }
  .inverted #wrapper {
    background: #252a2a;
  }
  .inverted a {
    color: #acd1d5;
  }
}
.highlight {
  background: #fff;
}
.highlight .c {
  color: #998;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k, .highlight .o {
  font-weight: 700;
}
.highlight .cm {
  color: #998;
  font-style: italic;
}
.highlight .cp {
  color: #999;
  font-weight: 700;
}
.highlight .c1 {
  color: #998;
  font-style: italic;
}
.highlight .cs {
  color: #999;
  font-weight: 700;
  font-style: italic;
}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #a00;
}
.highlight .gh {
  color: #999;
}
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gs {
  font-weight: 700;
}
.highlight .gu {
  color: purple;
  font-weight: 700;
}
.highlight .gt {
  color: #a00;
}
.highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr {
  font-weight: 700;
}
.highlight .kt {
  color: #458;
  font-weight: 700;
}
.highlight .m {
  color: #099;
}
.highlight .s {
  color: #d14;
}
.highlight .n {
  color: #333;
}
.highlight .na {
  color: teal;
}
.highlight .nb {
  color: #0086b3;
}
.highlight .nc {
  color: #458;
  font-weight: 700;
}
.highlight .no {
  color: teal;
}
.highlight .ni {
  color: purple;
}
.highlight .ne, .highlight .nf {
  color: #900;
  font-weight: 700;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: navy;
}
.highlight .nv {
  color: teal;
}
.highlight .ow {
  font-weight: 700;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
  color: #099;
}
.highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999;
}
.highlight .vc, .highlight .vg, .highlight .vi {
  color: teal;
}
.highlight .il {
  color: #099;
}
.highlight .gc {
  color: #999;
  background-color: #EAF2F5;
}

.type-csharp .highlight .k, .type-csharp .highlight .kt {
  color: blue;
}
.type-csharp .highlight .nf {
  color: #000;
  font-weight: 400;
}
.type-csharp .highlight .nc {
  color: #2b91af;
}
.type-csharp .highlight .nn {
  color: #000;
}
.type-csharp .highlight .s, .type-csharp .highlight .sc {
  color: #a31515;
}

.type-csharp .highlight .k, .type-csharp .highlight .kt {
  color: #00F;
}
.type-csharp .highlight .nf {
  color: #000;
  font-weight: normal;
}
.type-csharp .highlight .nc {
  color: #2B91AF;
}
.type-csharp .highlight .nn {
  color: #000;
}
.type-csharp .highlight .s, .type-csharp .highlight .sc {
  color: #A31515;
}

body.dark #wrapper {
  background: transparent !important;
  box-shadow: none !important;
}
