body {
    padding: 20px;
}

header, #meta {
    background: rgba(0,0,0,.5);
    color: white;
    display: block;
    position: fixed;
    z-index: 100;
    box-sizing: border-box;
    width: 100%;
    text-indent: 0;
    line-height: 1;
    text-shadow: none;
}

/*header a:focus, #meta a:focus {
    outline: none;
}*/

header {
    left: 0;
    padding: 5px!important;
    top: 0;
}

header label {
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: inline;
    color: #fff;
}

header select#style {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.headerleft {
    float: left;
}

.themelinks {
    display: inline;
    text-align: center;
    margin: 0 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1;
    text-indent: 0;
}

.themelinks a {
    background: #666;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin-right: 4px;
    transition: background .2s linear;
}

.themelinks a:link,
.themelinks a:active,
.themelinks a:hover,
.themelinks a:visited {
    color: #fff;
    border: none;
    outline: none;
    text-shadow: none;
    text-decoration: none;
}

.themelinks a:hover {
    background: #888;
}

header nav {
    float: right;
    font-size: 16px;
    line-height: 1;
}

header a,
#meta nav a {
    color: #fff!important;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: 600;
    display: block;
    float: left;
    padding: 5px 10px;
    background: none;
    border: none;
    border-radius: 0;
    text-shadow: none;
}

header nav a:hover,
#meta nav a:hover {
    background: #666;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: none;
    text-decoration: none;
}

header nav a:focus,
#meta nav a:focus {
    outline: auto;
    text-decoration: none;
    border: none;
}

.backbutton {
    border: solid 1px white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    padding: 2px !important;
    transition: background .2s linear;
}

.backbutton:hover {
    color: #333!important;
    background: white;
}

#meta {
    padding: 2px 50px;
    bottom: 0;
    left: 0;
    min-height: 50px;
}

#meta .info {
    width: 60%;
    float: left;
}

#meta p {
    font-size: 14px!important;
    font-family: "Helvetica Neue", Arial, Helvetica!important;
    color: #aaa;
    font-weight: 400;
    line-height: 1;
    margin: 4px 0 7px 0;
    padding: 0;
}

#meta p span {
    color: #eee;
    font-size: 14px!important;
}

#meta span.title {
    font-weight: 700;
}

#meta a.themedownload:link,
#meta a.themedownload:active,
#meta a.themedownload:hover,
#meta a.themedownload:visited {
    color: #fff;
    border: none;
    outline: none;
    text-shadow: none;
    text-decoration: none;
}
#meta a.themedownload {
    font-weight: 600;
    color: #eee;
    text-decoration: none;
}
#meta a.themedownload:hover {
    color: #ccc;
}

#meta nav {
    float: right;
    padding: 0;
    margin: 10px 0 0;
    font-size: 14px;
}

body #wrapper {
    border-left: 1px solid rgba(0,0,0,.15);
    padding: 50px 0 40px 40px;
}

#wrapper .elementType {
    height: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

#wrapper .elementType span {
    background: rgba(238, 235, 221,0.8);
    border-radius: 5px 0 0 5px;
    border: dotted 1px rgba(180,157,30,0.75);
    box-sizing: content-box;
    color: rgba(0,0,0,.5);
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    left: -158px;
    line-height: 1;
    padding: 2px 8px;
    position: absolute;
    text-align: right;
    text-indent: 0;
    text-transform: lowercase;
    width: 100px;
}

@media (max-width:1060px) {
    body #wrapper {
        padding-left: inherit;
        border-left: inherit;
    }

    #wrapper .elementType {
        height: auto;
    }

    #wrapper .elementType span {
        position: static;
        border-radius: 5px;
    }
}

.outlines #wrapper h1,
.outlines #wrapper h2,
.outlines #wrapper h3,
.outlines #wrapper h4,
.outlines #wrapper h5,
.outlines #wrapper h6,
.outlines #wrapper p,
.outlines #wrapper ul,
.outlines #wrapper ol {
    outline: solid 1px rgba(0,0,0,.25);
}

#stylepreviews {
    font-size: 16px;
    font-family: Avenir, "Helvetica Neue", Arial, sans-serif;
}

ul.previews {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li.preview {
    width: 100%;
    margin-bottom: 20px;
    max-width: 400px;
}

li.preview p {
    margin: 0 0 .5em 0;
    font-size: 14px;
}

li.preview img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 640px) {
    li.preview {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    li.preview {
        width: 33%;
    }
}

.preview a {
    text-decoration: none;
    color: #666;
}

.preview h3 {
    background: #eee;
    color: #666;
    display: block;
    line-height: 2;
    margin: 0;
    padding: 0 .5em;
}

.preview figure {
    background: #fafafa;
    border: solid 1px #ccc;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgba(0,0,0,.25);
    height: 100%;
    overflow: hidden;
    transform: scale(1);
    transition: transform .1s linear, box-shadow .1s ease-out;
}

.preview:hover {
    z-index: 10;
}

.preview:hover figure {
    transform: scale(1.1);
    box-shadow: 9px 9px 10px rgba(0,0,0,.15);
}

.preview figcaption {
    padding: 10px;
}
