body {
	padding: 20px;
}

header {
    background: rgba(0,0,0,.5);
    display: block;
    position: fixed;
    width: 95%;
    left: 0;
    padding: 5px 2.5%!important;
    z-index: 100;
    color: white;
    top: 0;
    box-sizing: content-box;
}

header label {
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

header select#style {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

header nav {
    float: right;
    font-size: 16px;
    line-height: 1;
}

header nav a {
    color: #fff!important;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: 600;
    display: block;
    float: left;
    padding: 5px 10px;
    background: none;
    border: none;
    border-radius: 0;
    text-shadow: none;
}

header nav a:hover {
	background: #666;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 8px;
	box-shadow: none;
	text-decoration: none;
}

header nav a:focus {
    outline: auto;
    text-decoration: none;
    border: none;
}

#meta {
    background: #eee;
    padding: 2px 50px;
    width: 100%;
    border: 1px solid #ccc;
    z-index: 100000;
    position: fixed;
    bottom: 0;
    left: 0;
}

#meta p {
    font-size: 14px!important;
    font-family: "Helvetica Neue", Arial, Helvetica!important;
    color: #aaa;
    font-weight: 400;
    line-height: 1;
    margin: 4px 0 7px 0;
    padding: 0;
}

#meta p span {
    color: #555;
    font-size: 14px!important;
}

#meta span.title {
    font-weight: 700;
}

span.elementType {
    font-size: 12px;
    font-style: normal;
    background: rgba(255,228,73,0.13);
    padding: 2px 8px;
    border: dotted 1px rgba(180,157,30,0.75);
    color: rgba(0,0,0,.5);
    border-radius: 5px;
    text-transform: lowercase;
    margin-left: -10px;
}
