/*
This document has been created with Marked.app <http://marked2app.com>
Content is property of the document author
Please leave this notice in place, along with any additional credits below.
---------------------------------------------------------------
Title: nvultra.com
Author: StyleStealer
Description: Collected from http://nvultra.com/help/advanced-features.html#advancedappearanceoptions
---
*/
body,#wrapper  {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: block;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper  img { max-width: 100%; }
#wrapper h1 {
    background: none;
    border-bottom: 0 none rgb(0, 128, 122);
    border-left: 0 none rgb(0, 128, 122);
    border-radius: 0;
    border-right: 0 none rgb(0, 128, 122);
    border-top: 0 none rgb(0, 128, 122);
    color: rgb(0, 128, 122);
    display: block;
    font-family: Avenir;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 50.4px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper h2 {
    background: none;
    border-bottom: 0 none rgb(0, 128, 122);
    border-left: 0 none rgb(0, 128, 122);
    border-radius: 0;
    border-right: 0 none rgb(0, 128, 122);
    border-top: 0 none rgb(0, 128, 122);
    color: rgb(0, 128, 122);
    display: block;
    font-family: Avenir;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 41.6px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper h3 {
    background: none;
    border-bottom: 0 none rgb(0, 128, 122);
    border-left: 0 none rgb(0, 128, 122);
    border-radius: 0;
    border-right: 0 none rgb(0, 128, 122);
    border-top: 0 none rgb(0, 128, 122);
    color: rgb(0, 128, 122);
    display: block;
    font-family: Avenir;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 33.6px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper h4 {
    background: none;
    border-bottom: 0 none rgb(0, 128, 122);
    border-left: 0 none rgb(0, 128, 122);
    border-radius: 0;
    border-right: 0 none rgb(0, 128, 122);
    border-top: 0 none rgb(0, 128, 122);
    color: rgb(0, 128, 122);
    display: block;
    font-family: Avenir;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 28px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper h5 {
    background: none;
    border-bottom: 0 none rgb(0, 128, 122);
    border-left: 0 none rgb(0, 128, 122);
    border-radius: 0;
    border-right: 0 none rgb(0, 128, 122);
    border-top: 0 none rgb(0, 128, 122);
    color: rgb(0, 128, 122);
    display: block;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 22.4px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper h6 {
    background: none;
    border-bottom: 0 none rgb(0, 128, 122);
    border-left: 0 none rgb(0, 128, 122);
    border-radius: 0;
    border-right: 0 none rgb(0, 128, 122);
    border-top: 0 none rgb(0, 128, 122);
    color: rgb(0, 128, 122);
    display: block;
    font-family: Avenir;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.6px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper a h1 {
    background: none;
    border-bottom: 0 none rgb(0, 128, 122);
    border-left: 0 none rgb(0, 128, 122);
    border-radius: 0;
    border-right: 0 none rgb(0, 128, 122);
    border-top: 0 none rgb(0, 128, 122);
    color: rgb(0, 128, 122);
    display: block;
    font-family: Avenir;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 50.4px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper a h2 {
    background: none;
    border-bottom: 0 none rgb(0, 128, 122);
    border-left: 0 none rgb(0, 128, 122);
    border-radius: 0;
    border-right: 0 none rgb(0, 128, 122);
    border-top: 0 none rgb(0, 128, 122);
    color: rgb(0, 128, 122);
    display: block;
    font-family: Avenir;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 41.6px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper a h3 {
    background: none;
    border-bottom: 0 none rgb(0, 128, 122);
    border-left: 0 none rgb(0, 128, 122);
    border-radius: 0;
    border-right: 0 none rgb(0, 128, 122);
    border-top: 0 none rgb(0, 128, 122);
    color: rgb(0, 128, 122);
    display: block;
    font-family: Avenir;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 33.6px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper h1 a {
    background: none;
    border-bottom: 0 none rgb(147, 3, 46);
    border-left: 0 none rgb(147, 3, 46);
    border-radius: 0;
    border-right: 0 none rgb(147, 3, 46);
    border-top: 0 none rgb(147, 3, 46);
    color: rgb(147, 3, 46);
    display: inline;
    font-family: Avenir;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 50.4px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
    transition: all 0s ease 0s;
    text-decoration: none;
}
#wrapper h2 a {
    background: none;
    border-bottom: 0 none rgb(147, 3, 46);
    border-left: 0 none rgb(147, 3, 46);
    border-radius: 0;
    border-right: 0 none rgb(147, 3, 46);
    border-top: 0 none rgb(147, 3, 46);
    color: rgb(147, 3, 46);
    display: inline;
    font-family: Avenir;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 41.6px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
    transition: all 0s ease 0s;
    text-decoration: none;
}
#wrapper h3 a {
    background: none;
    border-bottom: 0 none rgb(147, 3, 46);
    border-left: 0 none rgb(147, 3, 46);
    border-radius: 0;
    border-right: 0 none rgb(147, 3, 46);
    border-top: 0 none rgb(147, 3, 46);
    color: rgb(147, 3, 46);
    display: inline;
    font-family: Avenir;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 33.6px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
    transition: all 0s ease 0s;
    text-decoration: none;
}
#wrapper p {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: block;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    text-align: start;
    text-indent: 0;
    position: static;
    overflow: visible;
    white-space: normal;
    word-break: normal;
}
#wrapper ol {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: block;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 0 0 30px;
    text-align: start;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: decimal;
}
#wrapper ul {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: block;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 0 0 30px;
    text-align: start;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: disc;
}
#wrapper ul li {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: list-item;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: disc;
}
#wrapper ol li {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: list-item;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: decimal;
}
#wrapper li ul {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: block;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 30px;
    text-align: left;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: disc;
}
#wrapper li ol {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: block;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 30px;
    text-align: left;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: decimal;
}
#wrapper ul li li {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: list-item;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: disc;
}
#wrapper ol li li {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: list-item;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: decimal;
}
#wrapper dl {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: block;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper dd {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: block;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: none;
}
#wrapper dt {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: block;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: none;
}
#wrapper strong {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: inline;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper em {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: inline;
    font-family: Avenir;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper b {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: inline;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper i {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: inline;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper sup {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: inline;
    font-family: Avenir;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper sub {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: inline;
    font-family: Avenir;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper a {
    background: none;
    border-bottom: 0 none rgb(147, 3, 46);
    border-left: 0 none rgb(147, 3, 46);
    border-radius: 0;
    border-right: 0 none rgb(147, 3, 46);
    border-top: 0 none rgb(147, 3, 46);
    color: rgb(147, 3, 46);
    display: inline;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
    transition: all 0s ease 0s;
    text-decoration: none;
}
#wrapper p strong {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: inline;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper p em {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: inline;
    font-family: Avenir;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper p sup {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: inline;
    font-family: Avenir;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper p sub {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: inline;
    font-family: Avenir;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper p b {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: inline;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper p i {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: inline;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper hr {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 1px solid rgb(229, 229, 229);
    color: rgb(102, 102, 102);
    display: block;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper p strong a {
    background: none;
    border-bottom: 0 none rgb(147, 3, 46);
    border-left: 0 none rgb(147, 3, 46);
    border-radius: 0;
    border-right: 0 none rgb(147, 3, 46);
    border-top: 0 none rgb(147, 3, 46);
    color: rgb(147, 3, 46);
    display: inline;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
    transition: all 0s ease 0s;
    text-decoration: none;
}
#wrapper p em a {
    background: none;
    border-bottom: 0 none rgb(147, 3, 46);
    border-left: 0 none rgb(147, 3, 46);
    border-radius: 0;
    border-right: 0 none rgb(147, 3, 46);
    border-top: 0 none rgb(147, 3, 46);
    color: rgb(147, 3, 46);
    display: inline;
    font-family: Avenir;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
    transition: all 0s ease 0s;
    text-decoration: none;
}
#wrapper p a em {
    background: none;
    border-bottom: 0 none rgb(147, 3, 46);
    border-left: 0 none rgb(147, 3, 46);
    border-radius: 0;
    border-right: 0 none rgb(147, 3, 46);
    border-top: 0 none rgb(147, 3, 46);
    color: rgb(147, 3, 46);
    display: inline;
    font-family: Avenir;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper p a strong {
    background: none;
    border-bottom: 0 none rgb(147, 3, 46);
    border-left: 0 none rgb(147, 3, 46);
    border-radius: 0;
    border-right: 0 none rgb(147, 3, 46);
    border-top: 0 none rgb(147, 3, 46);
    color: rgb(147, 3, 46);
    display: inline;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper p code {
    background: none;
    border-bottom: 0 none rgb(240, 80, 110);
    border-left: 0 none rgb(240, 80, 110);
    border-radius: 0;
    border-right: 0 none rgb(240, 80, 110);
    border-top: 0 none rgb(240, 80, 110);
    color: rgb(240, 80, 110);
    display: inline;
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
    position: static;
    overflow: visible;
    white-space: nowrap;
    word-break: normal;
}
#wrapper p a code {
    background: none;
    border-bottom: 0 none rgb(240, 80, 110);
    border-left: 0 none rgb(240, 80, 110);
    border-radius: 0;
    border-right: 0 none rgb(240, 80, 110);
    border-top: 0 none rgb(240, 80, 110);
    color: rgb(240, 80, 110);
    display: inline;
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
    position: static;
    overflow: visible;
    white-space: nowrap;
    word-break: normal;
}
#wrapper p code a {
    background: none;
    border-bottom: 0 none rgb(147, 3, 46);
    border-left: 0 none rgb(147, 3, 46);
    border-radius: 0;
    border-right: 0 none rgb(147, 3, 46);
    border-top: 0 none rgb(147, 3, 46);
    color: rgb(147, 3, 46);
    display: inline;
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
    transition: all 0s ease 0s;
    text-decoration: none;
}
#wrapper pre {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: block;
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 21px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    text-align: start;
    text-indent: 0;
    position: static;
    overflow: auto;
    white-space: pre;
    word-break: normal;
}
#wrapper code {
    background: none;
    border-bottom: 0 none rgb(240, 80, 110);
    border-left: 0 none rgb(240, 80, 110);
    border-radius: 0;
    border-right: 0 none rgb(240, 80, 110);
    border-top: 0 none rgb(240, 80, 110);
    color: rgb(240, 80, 110);
    display: inline;
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
    position: static;
    overflow: visible;
    white-space: nowrap;
    word-break: normal;
}
#wrapper pre code {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: inline;
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
    position: static;
    overflow: visible;
    white-space: pre;
    word-break: normal;
}
#wrapper blockquote {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: block;
    font-family: Avenir;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    text-align: start;
    text-indent: 0;
    position: static;
    overflow: visible;
    white-space: normal;
    word-break: normal;
}
#wrapper blockquote p {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: block;
    font-family: Avenir;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    text-align: start;
    text-indent: 0;
    position: static;
    overflow: visible;
    white-space: normal;
    word-break: normal;
}
#wrapper cite {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: inline;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper img {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: inline;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper figure {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: block;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
    text-indent: 0;
    position: static;
    overflow: visible;
    white-space: normal;
    word-break: normal;
}
#wrapper figure img {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: inline;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    text-indent: 0;
}
#wrapper figcaption {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: block;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    text-indent: 0;
}
#wrapper table {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: table;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
    position: static;
    overflow: visible;
    white-space: normal;
    word-break: normal;
}
#wrapper tr {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: table-row;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper th {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: table-cell;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 4.8px;
    text-align: left;
    text-indent: 0;
}
#wrapper td {
    background: none;
    border-bottom: 0 none rgb(102, 102, 102);
    border-left: 0 none rgb(102, 102, 102);
    border-radius: 0;
    border-right: 0 none rgb(102, 102, 102);
    border-top: 0 none rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    display: table-cell;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 4.8px;
    text-align: left;
    text-indent: 0;
}