/*
This document has been created with Marked.app <http://marked2app.com>
Content is property of the document author
Please leave this notice in place, along with any additional credits below.
---------------------------------------------------------------
Title: stackoverflow.com
Author: StyleStealer
Description: Collected from https://stackoverflow.com/questions/5268834/run-protocol-handler-without-opening-windows-in-javascript
---
*/
body,#wrapper  {
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: flex;
    font-family: Times;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    margin: 0;
    padding: 0;
    text-align: start;
    text-indent: 0;
}
#wrapper  img { max-width: 100%; }
#wrapper h1 {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 27.3px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper h2 {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24.7px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper h3 {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 22.1px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper h4 {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper h5 {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper h6 {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper a h1 {
    background: none;
    border-bottom: 0 none rgb(0, 119, 204);
    border-left: 0 none rgb(0, 119, 204);
    border-radius: 0;
    border-right: 0 none rgb(0, 119, 204);
    border-top: 0 none rgb(0, 119, 204);
    color: rgb(0, 119, 204);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 27.3px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper a h2 {
    background: none;
    border-bottom: 0 none rgb(0, 119, 204);
    border-left: 0 none rgb(0, 119, 204);
    border-radius: 0;
    border-right: 0 none rgb(0, 119, 204);
    border-top: 0 none rgb(0, 119, 204);
    color: rgb(0, 119, 204);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24.7px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper a h3 {
    background: none;
    border-bottom: 0 none rgb(0, 119, 204);
    border-left: 0 none rgb(0, 119, 204);
    border-radius: 0;
    border-right: 0 none rgb(0, 119, 204);
    border-top: 0 none rgb(0, 119, 204);
    color: rgb(0, 119, 204);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 22.1px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper h1 a {
    background: none;
    border-bottom: 0 none rgb(0, 119, 204);
    border-left: 0 none rgb(0, 119, 204);
    border-radius: 0;
    border-right: 0 none rgb(0, 119, 204);
    border-top: 0 none rgb(0, 119, 204);
    color: rgb(0, 119, 204);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 27.3px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    transition: all 0s ease 0s;
    text-decoration: underline solid rgb(0, 119, 204);
}
#wrapper h2 a {
    background: none;
    border-bottom: 0 none rgb(0, 119, 204);
    border-left: 0 none rgb(0, 119, 204);
    border-radius: 0;
    border-right: 0 none rgb(0, 119, 204);
    border-top: 0 none rgb(0, 119, 204);
    color: rgb(0, 119, 204);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24.7px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    transition: all 0s ease 0s;
    text-decoration: underline solid rgb(0, 119, 204);
}
#wrapper h3 a {
    background: none;
    border-bottom: 0 none rgb(0, 119, 204);
    border-left: 0 none rgb(0, 119, 204);
    border-radius: 0;
    border-right: 0 none rgb(0, 119, 204);
    border-top: 0 none rgb(0, 119, 204);
    color: rgb(0, 119, 204);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 22.1px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    transition: all 0s ease 0s;
    text-decoration: underline solid rgb(0, 119, 204);
}
#wrapper p {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    position: static;
    overflow: visible;
    white-space: normal;
    word-break: normal;
}
#wrapper ol {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: none;
}
#wrapper ul {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: none;
}
#wrapper ul li {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: list-item;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0 0 7.5px;
    padding: 0;
    text-align: left;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: none;
}
#wrapper ol li {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: list-item;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0 0 7.5px;
    padding: 0;
    text-align: left;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: none;
}
#wrapper li ul {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 7.5px 0 0;
    text-align: left;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: none;
}
#wrapper li ol {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 7.5px 0 0;
    text-align: left;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: none;
}
#wrapper ul li li {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: list-item;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0 0 7.5px;
    padding: 0;
    text-align: left;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: none;
}
#wrapper ol li li {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: list-item;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0 0 7.5px;
    padding: 0;
    text-align: left;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: none;
}
#wrapper dl {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper dd {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: disc;
}
#wrapper dt {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    list-style-position: outside;
    list-style-type: disc;
}
#wrapper strong {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper em {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper b {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper i {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper sup {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper sub {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper a {
    background: none;
    border-bottom: 0 none rgb(0, 119, 204);
    border-left: 0 none rgb(0, 119, 204);
    border-radius: 0;
    border-right: 0 none rgb(0, 119, 204);
    border-top: 0 none rgb(0, 119, 204);
    color: rgb(0, 119, 204);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    transition: all 0s ease 0s;
    text-decoration: underline solid rgb(0, 119, 204);
}
#wrapper p strong {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper p em {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper p sup {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper p sub {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper p b {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper p i {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper hr {
    background: rgb(214, 217, 220) none repeat scroll 0% 0% / auto padding-box border-box;
    border-bottom: 0 none rgb(214, 217, 220);
    border-left: 0 none rgb(214, 217, 220);
    border-radius: 0;
    border-right: 0 none rgb(214, 217, 220);
    border-top: 0 none rgb(214, 217, 220);
    color: rgb(214, 217, 220);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 7.5px 0 20px;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper p strong a {
    background: none;
    border-bottom: 0 none rgb(0, 119, 204);
    border-left: 0 none rgb(0, 119, 204);
    border-radius: 0;
    border-right: 0 none rgb(0, 119, 204);
    border-top: 0 none rgb(0, 119, 204);
    color: rgb(0, 119, 204);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    transition: all 0s ease 0s;
    text-decoration: underline solid rgb(0, 119, 204);
}
#wrapper p em a {
    background: none;
    border-bottom: 0 none rgb(0, 119, 204);
    border-left: 0 none rgb(0, 119, 204);
    border-radius: 0;
    border-right: 0 none rgb(0, 119, 204);
    border-top: 0 none rgb(0, 119, 204);
    color: rgb(0, 119, 204);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    transition: all 0s ease 0s;
    text-decoration: underline solid rgb(0, 119, 204);
}
#wrapper p a em {
    background: none;
    border-bottom: 0 none rgb(0, 119, 204);
    border-left: 0 none rgb(0, 119, 204);
    border-radius: 0;
    border-right: 0 none rgb(0, 119, 204);
    border-top: 0 none rgb(0, 119, 204);
    color: rgb(0, 119, 204);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper p a strong {
    background: none;
    border-bottom: 0 none rgb(0, 119, 204);
    border-left: 0 none rgb(0, 119, 204);
    border-radius: 0;
    border-right: 0 none rgb(0, 119, 204);
    border-top: 0 none rgb(0, 119, 204);
    color: rgb(0, 119, 204);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper p code {
    background: rgb(239, 240, 241) none repeat scroll 0% 0% / auto padding-box border-box;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16.9px;
    margin: 0;
    padding: 1px 5px;
    text-align: left;
    text-indent: 0;
    position: static;
    overflow: visible;
    white-space: pre-wrap;
    word-break: normal;
}
#wrapper p a code {
    background: rgb(239, 240, 241) none repeat scroll 0% 0% / auto padding-box border-box;
    border-bottom: 0 none rgb(0, 119, 204);
    border-left: 0 none rgb(0, 119, 204);
    border-radius: 0;
    border-right: 0 none rgb(0, 119, 204);
    border-top: 0 none rgb(0, 119, 204);
    color: rgb(0, 119, 204);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16.9px;
    margin: 0;
    padding: 1px 5px;
    text-align: left;
    text-indent: 0;
    position: static;
    overflow: visible;
    white-space: pre-wrap;
    word-break: normal;
}
#wrapper p code a {
    background: none;
    border-bottom: 0 none rgb(0, 119, 204);
    border-left: 0 none rgb(0, 119, 204);
    border-radius: 0;
    border-right: 0 none rgb(0, 119, 204);
    border-top: 0 none rgb(0, 119, 204);
    color: rgb(0, 119, 204);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16.9px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    transition: all 0s ease 0s;
    text-decoration: underline solid rgb(0, 119, 204);
}
#wrapper pre {
    background: rgb(239, 240, 241) none repeat scroll 0% 0% / auto padding-box border-box;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    position: static;
    overflow: auto;
    white-space: pre;
    word-break: normal;
}
#wrapper code {
    background: rgb(239, 240, 241) none repeat scroll 0% 0% / auto padding-box border-box;
    border-bottom: 0 none rgb(0, 119, 204);
    border-left: 0 none rgb(0, 119, 204);
    border-radius: 0;
    border-right: 0 none rgb(0, 119, 204);
    border-top: 0 none rgb(0, 119, 204);
    color: rgb(0, 119, 204);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16.9px;
    margin: 0;
    padding: 1px 5px;
    text-align: left;
    text-indent: 0;
    position: static;
    overflow: visible;
    white-space: pre-wrap;
    word-break: normal;
}
#wrapper pre code {
    background: rgb(239, 240, 241) none repeat scroll 0% 0% / auto padding-box border-box;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16.9px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    position: static;
    overflow: visible;
    white-space: pre;
    word-break: normal;
}
#wrapper blockquote {
    background: rgb(255, 248, 220) none repeat scroll 0% 0% / auto padding-box border-box;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    position: static;
    overflow: visible;
    white-space: normal;
    word-break: normal;
}
#wrapper blockquote p {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    position: static;
    overflow: visible;
    white-space: normal;
    word-break: normal;
}
#wrapper cite {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper img {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0 0 7.5px;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper figure {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    position: static;
    overflow: visible;
    white-space: normal;
    word-break: normal;
}
#wrapper figure img {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: inline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0 0 7.5px;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper figcaption {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper table {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: table;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    position: static;
    overflow: visible;
    white-space: normal;
    word-break: normal;
}
#wrapper tr {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: table-row;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper th {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: table-cell;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}
#wrapper td {
    background: none;
    border-bottom: 0 none rgb(36, 39, 41);
    border-left: 0 none rgb(36, 39, 41);
    border-radius: 0;
    border-right: 0 none rgb(36, 39, 41);
    border-top: 0 none rgb(36, 39, 41);
    color: rgb(36, 39, 41);
    display: table-cell;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.5px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
}