/*
   This document has been created with Marked.app <http://marked2app.com>
   Please leave this notice in place, along with any additional credits below.
   ---------------------------------------------------------------
   Title: Ulysses Freestraction Light
   Author: Jonathan Poritsky <http://candlerblog.com>
   Description: Based on the Freestraction color scheme used in Ulysses III <http://www.ulyssesapp.com>.
   For more information read the introductory post: http://candlerblog.com/2013/04/11/ulysses-iii-and-marked/
*/
html {
  background-color: #f3f3f3;
  color: #656565;
}

body {
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  border: 0;
  font-size: 1em;
  line-height: 1.7em;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,sans-serif;
}

a {
  padding: 0 0.3em 0.1em 0.3em;
  color: #656565;
  background: #f7f7f7;
  text-decoration: none;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}
a:hover {
  padding: 0 0.3em 0.1em 0.3em;
  text-decoration: none;
  background: -webkit-gradient(linear, 80% 20%, 80% 100%, from(#315983), to(#224C78));
  color: #f7ffff;
  border-top: 1px solid #45698f;
  border-bottom: 1px solid #2f4c69;
  border-right: 1px solid #2f4c69;
  border-left: 1px solid #2f4c69;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1px #2f4c69;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: #0c8bba;
  line-height: 1;
  font-weight: 600;
  font-family: "Minion Pro","Chaparral Pro",Georgia,serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-style: italic;
  font-size: 1em;
}

ol {
  margin-left: -15px;
  margin-right: 25px;
}

ul {
  margin-left: -15px;
  margin-right: 25px;
}
ul li {
  list-style: none;
}
ul li:before {
  content: '\2010';
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -.8em;
  top: -.1em;
  color: #0c8bba;
  font-size: 1.2em;
}

li {
  font-size: .9em;
}
li p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.footnote {
  font-size: 50%;
  vertical-align: super;
}

div.footnotes {
  font-size: 80%;
}

pre, code {
  white-space: pre-wrap;
}

blockquote {
  background: #e6e6e6;
  display: block;
  font-style: italic;
  font-weight: 200;
  color: #0c8bba;
  padding: 0.2em 2em 0.2em 2em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

code {
  font-family: Inconsolata,"Courier Prime",mono;
  font-size: 80%;
  padding: 2px;
  color: #147e49;
  background: #e0e8e4;
}